<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Two-Factor Authentication Code</title>
</head>
<body>
    <p>Salut,</p>
    <p>Ton 2FA code est: <strong>{{ code }}</strong></p>
    <p>Veuillez saisir ce code pour compléter votre connexion.</p>
    <p>Merci d'avance!</p>
</body>
</html>
