{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6" style="height:500px">
            <div class="card" style="margin-top:150px">
                <div class="card-header text-center">
                    <h1>Two-Factor Authentication</h1>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <form action="{{ path('2fa_login_check') }}" method="post">
                        <div class="form-group">
                            <label for="2fa_code">Authentication Code:</label>
                            <input type="text" id="2fa_code" name="_auth_code" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Verify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
