{% extends 'base.html.twig' %}

{% block body %}
    <h1>Check your email</h1>

    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expiresAt|date('g') }} hour(s).
    </p>
{% endblock %}
