{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {'attr': {'class': 'form form-control'}}) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>
        <button class="btn">Envoyer un e-mail de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}

