{% extends 'base.html.twig' %}

{% block title %}Nouveau Evenement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .title {
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
            color: #343a40;
        }
        .form-container {
            margin: 30px auto;
            width: 70%;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}
{% block body %}
    <h1 class="title">Creer un evenement</h1>

    <div class="form-container">
        {{ include('evenement/_form.html.twig') }}
    </div>

    <a class="btn btn-primary" href="{{ path('app_evenement_index') }}">Retourner</a>
{% endblock %}
