{% extends 'base.html.twig' %}

{% block title %}Nouveau Evenement{% endblock %}

{% block body %}
    <h1>Creer un evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('app_evenement_index') }}">Arjaa l teli</a>
{% endblock %}
