{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Participation à l'événement</h1>
    <p>Vous souhaitez participer à l'événement : <strong>{{ evenement.nom }}</strong>?</p>
    
<form action="{{ path('app_evenement_send_email', {'id': evenement.id}) }}" method="POST">
        <button type="submit" class="btn btn-success">Confirmer</button>
        <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
