{% extends './admin/baseadmin.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div class="text-center mb-4">
		<h1>Bienvenue Mr.
			{{ user.nom }}
			{{ user.prenom }}</h1>
		<p>Voici votre dashboard personnel</p>
	</div>
{% endblock %}
