<form method="post" action="{{ path('app_medecin_controllerr_delete', {'id': medecin.id}) }}" onsubmit="return confirm('Voullez vous vraiment supprimer ce compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medecin.id) }}">
    <button class="btn">Supprimer</button>
</form>
