{% extends 'base.html.twig' %}

{% block title %}Nouveau Article{% endblock %}

{% block body %}
    <h1>Creer un Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">Arjaa lista article</a>
{% endblock %}
